h1, h2, h3, h4{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
}

table{
    font-family: "Open Sans", sans-serif;
    margin: auto;
}

td{
    padding-left: 10px;
    padding-right: 10px;



}

table, th, td, tr{
    border: 1px solid grey;
}

th td{
    font-family: "Lato", sans-serif;
}

.balance{
    text-align: right;
}

/* Top */

a img{
    height: 100%;
    width: auto;
}