body{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
}

/* Links Side */

#the-links{
    list-style: none;
    font-family: "Lato", sans-serif;
}

#links-side{
    border-right: 2px solid grey;
}


/* Table Side */

#table-side{
    border-left: 1px solid grey;
}
table{
    font-family: "Open Sans", sans-serif;
    margin: auto;
}

td{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;



}

table, th, td, tr{
    border: 1px solid grey;
}

th{
    text-align: center;
}

th td{
    font-family: "Lato", sans-serif;
}

.balance{
    text-align: right;
}

/* Top */

a img{
    height: 100%;
    width: auto;
}